@import "tailwindcss";
@import 'primeicons/primeicons.css';
        
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: linear-gradient(71deg,#102f40,#015c6e);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.p-dropdown-panel {
  background: white;
}

header button {
  font-size: 1.5rem;
  margin-inline: 1.5rem;
}

header button:hover {
  color: #777;
}

.p-menu-overlay {
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 1rem;
}

.p-menuitem:not(:last-child) {
  margin-bottom: 0.5rem;
}

.p-menuitem:hover {
  color: #444;
}

.p-menuitem-icon {
  margin-inline-end: 0.5rem;
}