@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import "primereact/resources/themes/lara-light-teal/theme.css";
        
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: linear-gradient(71deg,#102f40,#015c6e);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: white;
}

 .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
    color: white;
  }

header .p-button {
  background: transparent;
  border-color: transparent;
  font-size: 1.5rem;
}
